<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   @*  <link href="~/webfonts/fa-brands-400.woff2" rel="stylesheet" />
    <link href="~/webfonts/fa-brands-400.woff" rel="stylesheet" />
    <link href="~/webfonts/fa-regular-400.ttf" rel="stylesheet" />
    <link href="~/webfonts/fa-regular-400.eot" rel="stylesheet" />
    <link href="~/webfonts/fa-regular-400.woff" rel="stylesheet" />
    <link href="~/webfonts/fa-regular-400.woff2" rel="stylesheet" />
    <link href="~/webfonts/fa-solid-900.eot" rel="stylesheet" />
    <link href="~/webfonts/fa-solid-900.ttf" rel="stylesheet" />
    <link href="~/webfonts/fa-solid-900.woff2" rel="stylesheet" />
    <link href="~/webfonts/fa-solid-900.woff" rel="stylesheet" /> *@
    <link href="~/Land/css/chocolat.css" rel="stylesheet" />
    <link href="~/Land/css/flexslider.css" rel="stylesheet" />
    <link href="~/Land/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Land/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Land/css/style.css" rel="stylesheet" />
    <link href="~/Land/css/minimal-slider.css" rel="stylesheet" />
    <link href="~/Land/css/bootstrap.css" rel="stylesheet" />
    <link href="~/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="~/fontawesome/css/v4-shims.css" rel="stylesheet" />
    <script src="~/fontawesome/js/brands.js"></script>
    <script src="~/fontawesome/js/brands.min.js"></script>
    <script src="~/fontawesome/js/all.js"></script>
    <script src="~/fontawesome/js/fontawesome.min.js"></script>
    <script src="~/fontawesome/js/regular.min.js"></script>
    <script src="~/fontawesome/js/v4-shims.js"></script>
    <script src="~/fontawesome/js/v4-shims.min.js"></script>
    <script src="~/fontawesome/js/regular.js"></script>
    <script src="~/fontawesome/js/solid.js"></script>
    <script src="~/fontawesome/js/solid.min.js"></script>
    <script src="~/fontawesome/js/fontawesome.js"></script>
    <script src="~/fontawesome/js/all.min.js"></script>
    <link href="~/fontawesome/css/v4-shims.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/solid.css" rel="stylesheet" />
    <link href="~/fontawesome/css/solid.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/svg-with-js.css" rel="stylesheet" />
    <link href="~/fontawesome/css/v5-font-face.css" rel="stylesheet" />
    <link href="~/fontawesome/css/v5-font-face.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/svg-with-js.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/regular.css" rel="stylesheet" />
    <link href="~/fontawesome/css/regular.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/v4-font-face.css" rel="stylesheet" />
    <link href="~/fontawesome/css/v4-font-face.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/brands.min.css" rel="stylesheet" />
    <script src="~/Land/js/bootstrap.js"></script>
    <script src="~/Land/js/jquery-2.2.3.min.js"></script>
    <script src="~/Land/js/jquery-ui.js"></script>
    <script src="~/Land/js/jquery.flexslider.js"></script>
    <script src="~/Land/js/move-top.js"></script>
    <script src="~/Land/js/minimal-slider.js"></script>
    <script src="~/Land/js/SmoothScroll.min.js"></script>
    <script src="~/Land/js/easing.js"></script>
    <script src="~/Land/js/jquery.chocolat.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>


</body>
</html>
