<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/webfonts/fa-brands-400.woff2"  rel="stylesheet" />
    <link href="~/webfonts/fa-brands-400.woff"   rel="stylesheet" />
    <link href="~/webfonts/fa-regular-400.ttf"   rel="stylesheet" />
    <link href="~/webfonts/fa-regular-400.eot"   rel="stylesheet" />
    <link href="~/webfonts/fa-regular-400.woff"  rel="stylesheet" />
    <link href="~/webfonts/fa-regular-400.woff2" rel="stylesheet" />
    <link href="~/webfonts/fa-solid-900.eot"     rel="stylesheet" />
    <link href="~/webfonts/fa-solid-900.ttf"     rel="stylesheet" />
    <link href="~/webfonts/fa-solid-900.woff2"   rel="stylesheet" />
    <link href="~/webfonts/fa-solid-900.woff"    rel="stylesheet" />
    <link href="~/css/chocolat.css"              rel="stylesheet" />
    <link href="~/css/flexslider.css"            rel="stylesheet" />
    <link href="~/css/fontawesome-all.min.css"   rel="stylesheet" />
    <link href="~/css/jquery-ui.css"             rel="stylesheet" />
    <link href="~/css/style.css"                 rel="stylesheet" />
    <link href="~/css/minimal-slider.css"        rel="stylesheet" />
    <link href="~/css/bootstrap.css"             rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/minimal-slider.js"></script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/jquery.chocolat.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    
</body>
</html>
